!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='../../docs-assets/ico/favicon.png')
    title My Rants | Mapvel
    //
       Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    //
       Custom styles for this template
    link(href='css/style.css', rel='stylesheet')
    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Mapvel
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') My Rants
            li
              a(href='/lookup') Lookup
            li
              a(href='/') #{username}
            li
              a(href='/logout') Logout
            li
              <div style="padding-top:16px;"><iframe src="http://nodeknockout.com/iframe/struggler" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe></div>
    .container
      .starter-template
        h1 Your Rants
        #rants
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='js/bootstrap.min.js')
    script(src='http://maps.google.com/maps/api/js?sensor=true')
    script(src='js/gmaps.js')
    script(src='js/script1.js')