body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.credits {
  font-size: 12px;
}

#map {
  height: 250px;
}

.lead {
  border: 1px #ccc solid;
  border-radius: 5px;
  height: 4em;
}